.sec_first {
    display: flex;
    justify-content: center;    
    
}
.sec_first_continer{
    margin-top:0px;
    height: 100vh;
    display: flex;
    align-items: center;
    justify-content: center;
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;   

   
}

.arrow {
    display: block;
    border-right: 5px solid white;
    border-bottom:  5px solid white;
    margin: 0 auto;  
    width: 50px;
    height: 50px;
    position: absolute;
    bottom: 15%;
    left: calc(50% - 32px);
    animation: moveArrow 1.5s 1s ease-in-out infinite;
    transform: translate(50%, 50%);
    transform: rotate(45deg);
}

@keyframes moveArrow {
    0%{bottom: 10%
    }
    50%{ bottom: 12%
    }
    100% { bottom: 10%
    }
}
.sec_first h1 {
    color: white;
}

.photo {
    margin: 10px;
}

.img_small {
    height: 280px;
    width: 280px;

}

.sec_second { 
    display: flex;
    justify-content: center;
    flex-wrap:  wrap;
} 


.btn-container {
    display: flex;
    justify-content: space-around;
   
}

.btn-primary {
    height: 50px;
    width: 200px;
}

.info_panel {
    height: 300px;
    padding: 50px;
}


.lightbox {
    height: 300vh;
    width: 300vw;
    top:-100%;
    margin:0;
    padding:0;
    background: gray;
    opacity: 0.8;
    position: fixed;  
}

.img_big{ 
  max-width: 1200px; 
  max-height: 90%; 
  top: 50%;
  left: 50%;
  position: fixed;
  transform: translate(-50%, -50%);
    background: white;
    z-index: 1;
}

#cls {
    position: fixed;
    top: 1%;
    left:85%;
    z-index: 1;
    font-size: 16px;
    background: white;
    width: 100px;
    height: 25px;
    border-radius: 20px;

}

.pic_descr {
    position: fixed;
    top: 1%;
    left: 15%;
    font-size:12px;
    background: white;
    padding: 5px;
    border-radius: 20px;
    
}
.accept {
   
    width: 120px;
}

.info_sec {
    background: url('http://mars.jpl.nasa.gov/msl-raw-images/proj/msl/redops/ods/surface/sol/02300/opgs/edr/fcam/FLA_601686245EDR_F0732112FHAZ00302M_.JPG');
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    height: 970px;
}

.choose {
    color:white;
}

.navbarContainer{
    padding-right: 0px;
    padding-left: 0px; 
}
.panel {
 
    background:rgba(211,211,211 ,0.6 );
    padding: 20px;
}
th, td {
    text-align: center;
    
}

.nbInput{
width: 150px;
}
.fbox {
    display: none;
    justify-content: space-between;
    
}

.chooseSol {
    display: flex;
    flex-wrap: nowrap;
    justify-content: flex-end;
}

.asideTable_container {
    display: flex;
    justify-content: flex-end;
}
@media (max-width:622px) {
    .asideTable_container {
        justify-content: flex-start;
    }
}

.asideTable {
    width: 350px;
    display: none;
    z-index: 1;
    position: absolute;
    opacity: 0.8;
  

    
}

.quit {
    color: whitesmoke;
    font-size:18px;
    text-decoration: underline;
    

}
.icon-close {
    margin-left: 10px;
}

.photos_sec {
    background:rgba(211,211,211 ,0.6 );
    padding-top: 25px;
  
    
    
}

.page-link{
    background: lightslategrey;
    color: white;
}
#pg_active {
    background: #454d55;
}

#prevLink, #nextLink {
    background:#6c757d;
}

#nextLink:hover {
    background:#5a6066;
}
#prevLink:hover {
    background:#5a6066;
}

.input-group-text {
    background: #6c757d;
    color: white; 
}
.pickNumber {
    text-align: center;
}

.photos_sec {
    display: none;
}

.loading {
    margin: 0 auto;
    background:rgba(211,211,211 ,0.6 );
    border-radius: 55px;
    padding: 15px;
    width: 250px;
    display: none;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin-top:50px;
}
.load {
    font-size:34px;
}

input[type=number]::-webkit-inner-spin-button, 
input[type=number]::-webkit-outer-spin-button { 
  -webkit-appearance: none; 
  margin: 0; 
}

.wrap-raw {
    display: flex;
    flex-wrap: wrap;
}
.test {
    max-width: 100%;
   
}

.fbox__missionInfo{
    padding-left: 0px;
    padding-right: 0px;
    display: flex;
    justify-content: flex-end;
}
@media (max-width:622px) {
    .fbox__missionInfo {
        justify-content: flex-start;
        padding-top: 5px;
    }
}



.fbox__chooseSol{
    padding-right: 0px;
    padding-left: 0px;
}

@media (max-width: 768px) {
    .info_panel {
      width: 100%;
      max-width: none;
      padding-left:0px;
      padding-right: 0px;
      
    }
  }
  @media (max-width: 768px) {
    .container {
      width: 100% !important;
      max-width: none;
    }
  }

  @media (max-width:735px) {
      .table-dark {
          display: none;

      }
      .display-4 {
          font-size: 28px;
      }
  }
  .span_sol {
      display: none;
  }

  @media (max-width: 433px) {
      .pickNumber{
          width: 80px;
      }
      .choose_sol_day_span {
        display: none;    
      }
      .span_sol{
          display: flex;
          
      }
      .wrap-raw {
          flex-direction: column;
      }
      .chooseSol {
          justify-content: flex-start;
      } 

  }
  @media (max-width:1120px){
    .info_sec {
        background-repeat: repeat-y;
     height: 1250px;
    };
  }
  @media (max-width:632px){
    .info_sec {
        background-repeat: repeat-y;
     height: 2150px;
    };
  }